<mat-toolbar color="primary">
  <button mat-icon-button (click)="menuClicked.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Library Management System</h1>
  <div class="user-info">
    <span>Hi,
      {{this.api.getTokenUserInfo()?.firstName | titlecase}}</span>
    <button mat-icon-button [mat-menu-trigger-for]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/login" [disabled]="this.api.isLoggedIn()">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>

    <button mat-menu-item routerLink="/users/profile">
      <mat-icon>account_box</mat-icon>
      <span>Profile</span>
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
