:host {
  display: block;
  margin: 3rem auto 0;
  width: max-content;
}
mat-card mat-card-title h1 {
  letter-spacing: 2px;
  font-weight: bold;
  color: rgb(67, 250, 43);
}
mat-card-content table {
  width: 100%;
}
mat-card-content .mat-mdc-row:hover {
  background-color: #fae4e4;
}
mat-card-content .mat-column-name {
  border-right: 1px solid rgb(67, 250, 43);
}
mat-card-content .mat-mdc-cell {
  padding: 1rem;
  font-size: 1.3rem;
}
